
.discover-section {
    text-align: center;
}

.discover-section__nav {
    color: inherit;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 1.0em;
}

.discover-section__nav .nav-pills__link {
    color: inherit;
}

.discover-section__nav .nav-pills__link:link,.discover-section__nav .nav-pills__link:visited {
    color: inherit;
}

.discover-section__nav .nav-pills__link:hover,.discover-section__nav .nav-pills__link:active,.discover-section__nav .nav-pills__link:focus {
    background-color: gray;
}

.discover-section__nav .nav-pills__link.is-active {
    background-color: white;
    color: #333333;
}

.discover-section__nav .nav-pills__link.is-active:hover,.discover-section__nav .nav-pills__link.is-active:active,.discover-section__nav .nav-pills__link.is-active:focus {
    background-color: white;
}

.discover-section__nav>li {
    display: inline-block;
}

.discover-section__heading h2 {
    position: relative;
    line-height: 1.2;
    padding-bottom: 0.4em;
    margin-bottom: 0.48em;
}

.discover-section__heading h2:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
}

.discover-section__heading h2:after {
    height: 1px;
    width: 1.66667em;
    margin-left: -0.83333em;
    background-color: #e0e0e0;
}

.discover-section .highlights {
    margin: 1.0em auto 2.0em;
}

.discover-section__content {
    padding: 0 1.6em;
    line-height: 1.1;
}

.discover-section__content a {
    display: inline-block;
}

.discover-section__cta {
    margin-bottom: 2.0em;
}

.discover-section .highlights {
    overflow: hidden;
    *zoom: 1;
}

@media (max-width: 48.0625em) {
    .discover-section .highlights {
        width: 38.5em;
    }
}

@media (min-width: 48.125em) and (max-width: 67.3125em) {
    .discover-section .highlights {
        width: 38.5em;
    }
}

@media (min-width: 67.375em) {
    .discover-section .highlights {
        width: 57.75em;
    }
}

.discover-section .highlights .highlights__box.two-x,.discover-section .highlights .highlights__box.feature {
    width: 19.25em;
}

.discover-section .highlights .highlights__box.four-x {
    width: 38.5em;
}

.discover-section .highlights .highlights__box.two-y,.discover-section .highlights .highlights__box.feature {
    height: 28em;
}

.discover-section .highlights .highlights__box {
    width: 9.625em;
    height: 14em;
    padding: 0.4375em 0.4375em;
}

.discover-section .highlights .highlights__box.two-y .book:first-child {
    margin-bottom: 0.875em;
}

.discover-section .highlights .highlights__box.two-x .book:first-child {
    margin-right: 0.875em;
}

.discover-section .highlights .highlights__box.four-x .book {
    margin-left: 0.875em;
}

.discover-section .highlights .highlights__box.four-x .book:first-child {
    margin-left: 0;
}

.discover-section .highlights .highlights__box.two-x.two-y .book:nth-child(1) {
    margin-right: 0.875em;
    margin-bottom: 0.875em;
}

.discover-section .highlights .highlights__box.two-x.two-y .book:nth-child(2) {
    margin-bottom: 0.875em;
}

.discover-section .highlights .highlights__box.feature .book {
    width: 100%;
    height: 100%;
}

.discover-section .highlights .highlights__box .fill {
    width: 100%;
    height: 100%;
}

.discover-section .highlights .book {
    width: 8.75em;
    height: 13.125em;
}

.discover-section .highlights__box {
    display: inline-block;
}

.discover-section .highlights__box :nth-child(6n+1) .book-cover {
    background-color: #2f2f2f;
}

.discover-section .highlights__box :nth-child(6n+2) .book-cover {
    background-color: #343434;
}

.discover-section .highlights__box :nth-child(6n+3) .book-cover {
    background-color: #393939;
}

.discover-section .highlights__box :nth-child(6n+4) .book-cover {
    background-color: #3e3e3e;
}

.discover-section .highlights__box :nth-child(6n+5) .book-cover {
    background-color: #434343;
}

.discover-section .highlights__box :nth-child(6n+6) .book-cover {
    background-color: #484848;
}

.discover-section .book {
    display: block;
    -webkit-transition: -webkit-transform 0.1s ease;
    transition: transform 0.1s ease;
}

.discover-section .book:hover {
    -webkit-transform: scale(1.027);
    -ms-transform: scale(1.027);
    transform: scale(1.027);
}

.discover-section .book img {
    max-width: 100%;
    max-height: 100%;
}

.discover-section .feature.lime .book {
    background-color: #dae76c;
}

.discover-section .feature.green .book {
    background-color: #18a566;
}

.discover-section .feature.gold .book {
    background-color: #ffeb00;
}

.discover-section .feature.purple .book {
    background-color: #3c0091;
}

.discover-section .feature.orange .book {
    background-color: #f59c1e;
}

.discover-section .feature.red .book {
    background-color: #ed2d32;
}

.discover-section .feature .book {
    padding: 1.75em;
    background-color: #3c0091;
}

.discover-section .feature .book-cover {
    -webkit-box-shadow: 0 0 0.875em rgba(0,0,0,0.08);
    box-shadow: 0 0 0.875em rgba(0,0,0,0.08);
    background-color: transparent;
}

.discover-section .book-cover {
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
