// bower:scss
// endbower

body {
  font: 112.5%/1.45 "Metric", Tahoma, sans-serif;
  background-color: #181818;
  color: white;
  letter-spacing: -0.02em;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
}

.wrapper {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}

.wrapper__row--header {
    height: 3.83333em;
}

@media (min-width: 37.5em) {
    .wrapper__row--header {
        height: 4.83333em;
    }
}

.header {
  width: 100%;
  min-width: 320px;
  height: 3.83333em;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 100;
  -webkit-transition: background-color 150ms, -webkit-transform 150ms;
  transition: background-color 150ms, transform 150ms;
}


@media (max-width: 37.4375em) {
    .header {
        padding-top: 3.8em;
    }
}

.header .logo {
    position: absolute;
    top: 0;
    left: 0;
}

.logo {
    z-index: 2;
    width: 1.60494em;
    height: 2.77778em;
    overflow: hidden;
    padding: 0.52em;
}

@media (min-width: 37.5em) {
    .logo {
        width: 8.39506em;
        height: 2.77778em;
        padding: 1.04em;
    }
}

.logo img {
    max-width: none;
    width: 8.39506em;
    height: 2.77778em;
}


