// bower:scss
// endbower

@font-face {
    font-family:"Tiempos";src:url("fonts/TiemposTextWeb-Regular.woff") format("woff"),url("fonts/TiemposTextWeb-Regular.ttf") format("truetype");font-weight:normal;font-style:normal;
}

@font-face {
    font-family:"Tiempos";src:url("fonts/TiemposTextWeb-RegularItalic.woff") format("woff"),url("fonts/TiemposTextWeb-RegularItalic.ttf") format("truetype");font-weight:normal;font-style:italic;
}

@font-face {
    font-family:"Metric";src:url("fonts/MetricWeb-Light.woff") format("woff"),url("fonts/MetricWeb-Light.ttf") format("truetype");font-weight:300;font-style:normal;
}

@font-face {
    font-family:"Metric";src:url("fonts/MetricWeb-Medium.woff") format("woff"),url("fonts/MetricWeb-Medium.ttf") format("truetype");font-weight:normal;font-style:normal;
}

@font-face {
    font-family:"Metric";src:url("fonts/MetricWeb-Black.woff") format("woff"),url("fonts/MetricWeb-Black.ttf") format("truetype");font-weight:bold;font-style:normal;
}

@font-face {
    font-family:"Metric";src:url("fonts/MetricWeb-LightItalic.woff") format("woff"),url("fonts/MetricWeb-LightItalic.ttf") format("truetype");font-weight:normal;font-style:italic;
}

body {
  font: 112.5%/1.45 "Metric", Tahoma, sans-serif;
  background-color: #181818;
  color: white;
  letter-spacing: -0.02em;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
}

*,*:before,*:after,input[type=search],input[type=search]:before,input[type=search]:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizng: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.logo {
    -webkit-box-sizing: content-box;
    -moz-box-sizng: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.wrapper {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}

.wrapper__row--header {
    height: 3.83333em;
}

@media (min-width: 37.5em) {
    .wrapper__row--header {
        height: 4.83333em;
    }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  height: 3.83333em;
  width: 100%;
  min-width: 320px;
  overflow: hidden;
  z-index: 100;
  -webkit-transition: background-color 150ms, -webkit-transform 150ms;
  transition: background-color 150ms, transform 150ms;
}


@media (max-width: 37.4375em) {
    .header {
        padding-top: 3.8em;
    }
}

.header .logo {
    position: absolute;
    top: 0;
    left: 0;
}

.logo {
    z-index: 2;
    width: 1.60494em;
    height: 2.77778em;
    overflow: hidden;
    padding: 0.52em;
}

@media (min-width: 37.5em) {
    .logo {
        width: 8.39506em;
        height: 2.77778em;
        padding: 1.04em;
    }
}

.logo img {
    max-width: none;
    width: 8.39506em;
    height: 2.77778em;
}

a.link--plain {
    border-bottom-color: inherit;
    color: inherit;
    &:hover, &:hover, &:active, &:focus {
        opacity: 0.8;
        border-bottom-color: transparent;
    }
}

.btn {
    border: none;
    outline: none;
    color: white;
    display: inline-block;
    padding: 0.73667em 2em 0.86667em 2em;
}

@media (min-width: 65.625em) {
    .btn {
        padding-left: 2.66667em;
        padding-right: 2.66667em;
    }
}

.btn--outline {
    border: white 3px solid;
    background-color: transparent;
    color: white;
    -webkit-transition: 875ms cubic-bezier(0.580, -0.550, 0.265, 1.550) margin-left;
    -moz-transition: 875ms cubic-bezier(0.580, -0.550, 0.265, 1.550) margin-left;
    -ms-transition: 875ms cubic-bezier(0.580, -0.550, 0.265, 1.550) margin-left;
    -o-transition: 875ms cubic-bezier(0.580, -0.550, 0.265, 1.550) margin-left;
    transition: 875ms cubic-bezier(0.580, -0.550, 0.265, 1.550) margin-left;
    &.loading-more-add {
      margin-left: -100px;
    }
    &.loading-more {
      margin-left: 0px;
    }
}


